{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Start Main ======= -->
<!--<main id="main">


    <section id="food" class="food">
        <div class="container" data-aos="fade-up">

            <div class="section-title" style="padding-top: 100px;">
                <h2>LOGIN</h2>
                <p>Login-page</p>
            </div>

        </div>
    </section>

</main>--><!-- ======= End Main ======= -->


<!-- start loader -->
<!--<div id="pageloader-overlay" class="visible incoming">
    <div class="loader-wrapper-outer">
        <div class="loader-wrapper-inner">
            <div class="loader"></div>
        </div>
    </div>
</div>-->
<!-- end loader -->

<!-- Start wrapper-->
<!--<div id="wrapper">

    <div class="loader-wrapper">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>-->
    <section id="login1" class="login1">
        <div class="container" data-aos="fade-up">
            <div class="card-content p-2">
                <!--	<div class="text-center">
                        <img src="assets/images/logo-icon.png" alt="logo icon">
                    </div>-->
                <div class="card-title text-uppercase text-center py-3">LOGIN</div>
                <form>
                    <div class="form-group">
                        <label for="exampleInputUsername" class="sr-only">Username</label>
                        <div class="position-relative has-icon-right">
                            <input type="text" id="exampleInputUsername" class="form-control input-shadow"
                                   placeholder="Enter Username">
                            <div class="form-control-position">
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword" class="sr-only">Password</label>
                        <div class="position-relative has-icon-right">
                            <input type="password" id="exampleInputPassword" class="form-control input-shadow"
                                   placeholder="Enter Password">
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <!-- <div class="icheck-material-white">
                              <input type="checkbox" id="user-checkbox" checked="" />
                              <label for="user-checkbox">Remember me</label>
                            </div>-->
                        </div>
                        <div class="form-group col-6 text-right">
                            <a href="reset-password.html">Reset Password</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-light btn-block">Login</button>
                    <!--<div class="text-center mt-3">Sign In With</div>-->

                    <!-- <div class="form-row mt-4">
                      <div class="form-group mb-0 col-6">
                       <button type="button" class="btn btn-light btn-block"><i class="fa fa-facebook-square"></i> Facebook</button>
                     </div>
                     <div class="form-group mb-0 col-6 text-right">
                      <button type="button" class="btn btn-light btn-block"><i class="fa fa-twitter-square"></i> Twitter</button>
                     </div>
                    </div>-->

                </form>
            </div>
        </div>
        <div class="card-footer text-center py-3">
            <p class="text-warning mb-0">Do not have an account? <a href="{% url 'signup1' %}"> Sign Up here</a></p>
        </div>
    </section>

    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
<!--</div>-->
{% endblock %}