{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="service_area" id="service_area">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>SERVICE</h2>
            <p>Our Services</p>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60">
                    <!--                            <h3>Our Services</h3>-->
                    <!--<p>Inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                        standards <br> especially in the workplace. That’s why it’s crucial that, as women.</p>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-gift"></i>
                    </div>
                    <h4>Birthday Catering</h4>
                    <p>It's one among the foremost awaited moments in our life and each year we glance forward to
                        celebrating it
                        with full enthusiasm and joy.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-cake"></i>
                    </div>
                    <h4>Wedding Service</h4>
                    <p>Celebrate you happiest moment with us,From sparkling drinks to a live altenatives and buffets
                        offering variety of dishes.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-dance"></i>
                    </div>
                    <h4>Party Catering</h4>
                    <p>From tradition to taste we're always set to
                        cater you flavorful cuisines and
                        delicacies for all your events.
                        <br><br>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-calendar"></i>
                    </div>
                    <h4>Event Catering</h4>
                    <p>We Provide Catering Services to organize all types of finctions including a great combination
                        of food and feel.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-businessman"></i>
                    </div>
                    <h4>Corporate Service</h4>
                    <p>Our venue as well as our fine cuisine is suitable for all the professional activities,
                        meetings and seminars making your clients smile.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="single_service">
                    <div class="service_icon">
                        <i class="flaticon-running-man"></i>
                    </div>
                    <h4>Catering On Demand</h4>
                    <p>For making all sorts of outdoor events more impressive by offering our deliciously tailored
                        cuisines.
                        <br><br>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area-end -->

{% endblock %}